
@{

    Layout = "~/Areas/Kavis/Views/Shared/_LayoutKurum.cshtml";
}





<div class="row">
    <div class="col">
        <div class="icons">
            <button class="btn btn-info"> <div class="fa fa-repeat fa-2x"></div> <br />STRATEJİK <br /> PLAN</button>
            <button class="btn btn-warning"><div class="fa fa-address-book fa-2x"></div><br /> İL PERFORMANS<br /> PROGRAMI</button>
            <button class="btn btn-danger"><div class="fa fa-address-book fa-2x"></div><br /> İL FAALİYET <br />RAPORU</button>
        </div>
    </div>
</div>
