
<div class="row">
    <div class="col">
        <div class="p-5 mt-4">
            <h1>KAVİS PROJESİ</h1>
            <p class="lead">Stratejik Plan Veri Yönetimi</p>
            <br />
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card border-info">
                        <div class="card-body">
                            <h5 class="card-title">Uyarılar</h5>
                            @Html.Raw(ViewBag.Mesaj ?? "")
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col">
        <img src="~/images/2953998.jpg" class="img-fluid" width="500" />
    </div>
</div>