
@{
    ViewBag.Title = "StratejikPlan";
}

<style type="text/css">

    table.table-dar td {
        padding: 2px;
    }

        table.table-dar td input {
            margin: 0px;
        }

    .hedefKarti {
        margin-bottom: 4px;
    }

    .div {
        border: solid 1px black;
    }
</style>
<h2>Stratejik Plan</h2>

<div class="row">
    <div class="col-10">
        <input type="hidden" name="StratejikPlanId" id="StratejikPlanId" />
        <div class="form-group row">
            <label class="col-4">Kurum</label>
            <div class="col-6">
                <select name="KurumAdi" id="KurumAdi" class="form-control form-control-sm w-100">
                    
                </select>

                @*<input type="text" name="KurumAdi" id="KurumAdi" class="form-control form-control-sm w-100" />*@
            </div>
        </div>

        <div class="row mb-4">
            <label class="col-4">Dönem Başl.</label>
            <div class="col-6">
                <div class="input-group">
                    <input class="form-control form-control-sm" value="2019" name="DonemBaslangic" id="DonemBaslangic" />
                    @*<div class="input-group-append">
                        <button class="btn btn-secondary btn-sm"><span class="fa fa-calendar"></span></button>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="form-group row d-none">
            <label class="col-4">Dönem Bitiş</label>
            <div class="col-6">
                <div class="input-group">
                    <input class="form-control form-control-sm" />
                    @*<div class="input-group-append">
                        <div class="btn btn-sm btn-secondary"><span class="fa fa-calendar"></span></div>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="form-group row d-none">
            <label class="col-4">SP. Türü</label>
            <div class="col-6">
                <select class="form-control form-control-sm w-100" id="PlanTuru" disabled>
                    <option value="0">İL</option>
                </select>
            </div>
        </div>

    </div>
    <div class="col-2">
        <a href="#" class="btn btn-sm btn-primary btn-kaydet"><span class="fa"></span> Kaydet</a>
        <a href="~/KavisModul02/StratejikPlanlar" class="btn btn-sm btn-secondary w-auto"><span class="fa"></span> İptal</a>
    </div>
</div>

<div class="row">
    <div class="col">




    </div>

</div>

<div class="accordion" id="accordionSP">

    


</div>

<div class="text-center m-4"><button class="text-center btn-add btn-add-amac">Amaç Ekle</button></div>
<br />



<div class="modal" id="amacDuzenle">
    <div class="modal-dialog">
        <div class="modal-content">

            @*<div class="modal-header">
                    Faaliyet Ekle
                </div>*@
            <form>
                <div class="modal-body">
                    <input type="hidden" name="Id" id="Id" />
                    <input type="hidden" name="Index" id="Index" />
                    <div class="form-group">
                        <h5 class="baslik">Amaç:</h5>
                        <input class="form-control w-100" name="Baslik" style="width:100%;max-width:none;" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <button class="btn btn-secondary" data-dismiss="modal">İptal</button>
                </div>
            </form>
        </div>

    </div>
</div>

@section scripts {

    <script src="~/js/spedit.js"></script>
    <script type="text/javascript">

        function LoadKurumList() {
            api_get(base_url("KavisModul02/KurumlarListe")).done(function (d) {
                loadSelectList('#KurumAdi', d, null, false, "Id", "Adi");
                $('#KurumAdi').attr("disabled", "disabled");
            });
        }

       


        var id = @(ViewContext.RouteData.Values["id"]??0 );

       

        $(document).ready(function () {

            LoadKurumList();

            a.Get(id).then(function (d) {
                
                $("#StratejikPlanId").val(d.Id);
                $("#KurumAdi").val(d.KurumId);
                $("#DonemBaslangic").val(d.Baslangic);
                $("#PlanTuru").val(d.KurumTipi);

                //$('select.birim-select').parent().css("width", "50%")
                $('select.birim-select').select2({ width: "100%" });

            });

            $('.btn-kaydet').on("click", function () {
                a.Id = id;
                a.Baslik = a.Kurum = $("#KurumAdi option:selected").text();
                a.KurumId = $("#KurumAdi").val();
                a.Baslangic = $("#DonemBaslangic").val();
                a.Tur = 0;
                a.Post();
            });
        });

    </script>



}