
@{
    ViewBag.Title = "Ayarlar";
}

<div class="container">
    <h2>Sabit Tanımlamalar</h2>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6" style="border-right:outset 2px #f5f5f5;">
                            <div class="form-group row">
                                <label class="col-6">S.Plan</label>
                                <div class="col-6">
                                    <select class="form-control form-control-sm">
                                        <option>2019-2024</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-6">Aktif Yıl</label>
                                <div class="col-6">
                                    <select class="form-control form-control-sm">
                                        <option>2021</option>
                                    </select>
                                </div>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" /> Birimler faaliyet girişi ve düzenlemesi yapabilir.
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" /> Birimler faaliyet çıktısı ve durumu ekleyebilir.
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" /> Birimler performans gösterge gerçekleşme değerlerini girebilir.
                            </div>

                            <hr />
                            <div class="row">
                                <div class="col">

                                    <div class="form-group">
                                        <label>Uyarılar</label>

                                        <textarea class="form-control" id="uyarilarTextArea"></textarea>
                                        <span class="small">Giriş ekranında gözükecek uyarı bilgileri burada girilir.</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Birimler</h4>
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th width="20%">Birim Kodu</th>
                                        <th width="%">Birim Adı</th>
                                        <th style="width:50px;">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <td>TEM1</td>
                                        <td>Temel Eğitim</td>
                                        <td style="text-align:center;"></td>
                                    </tr>
                                    <tr>
                                        <td>TEM1</td>
                                        <td>Temel Eğitim</td>
                                        <td style="text-align:center;"></td>
                                    </tr>
                                </thead>
                                <tr>
                                </tr>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
