
@{
    ViewBag.Title = "BirimGosterge";
}
<style type="text/css">

    .sp div {
        border: solid 1px black;
        margin-bottom: 10px;
    }
</style>

<h4>Sorumlu Olduğunuz Stratejik Plan Öğeleri</h4>
<br />
<div class="sp">

    <div class="amac">1. AMAÇ</div>
    <div class="hedef">
        1. HEDEF
    </div>
    <table class="table table-bordered table-dar table-sm">
        <thead>
            <tr>
                <th width="150" rowspan="2">&nbsp;</th>
                <th rowspan="2">Hedef Etkisi</th>
                <th rowspan="2">Başlangıç</th>
                <th colspan="2">2019</th>
                <th colspan="2">2020</th>
                <th colspan="2">2021</th>
                <th colspan="2">2022</th>
                <th colspan="2">2023</th>
                <th rowspan="2">İzleme<br>Sıklığı</th>
                <th rowspan="2">Rapor<br>Sıklığı</th>
            </tr>
            <tr>
                <th style="height:2px;">P</th>
                <th>G</th>
                <th>P</th>
                <th>G</th>
                <th>P</th>
                <th>G</th>
                <th>P</th>
                <th>G</th>
                <th>P</th>
                <th>G</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Performans G.1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="background-color:#fef2ae" contenteditable="true"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Performans G.2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="background-color:#fef2ae" contenteditable="true"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>



    <div class="strateji">1. Strateji</div>
    <div class="strateji">2. Strateji</div>
    <div class="strateji">3. Strateji</div>

    <hr />
    <div class="amac">2. AMAÇ</div>
</div>

<button class="btn btn-primary "> Kaydet</button>