@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col">
        <div class="p-5 mt-4">
            <h1>KAVİS PROJESİ</h1>
            <p class="lead">Stratejik Plan Veri Yönetimi</p>
            <br />
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card border-info">                      
                        <div class="card-body">
                            <h5 class="card-title">Uyarılar</h5>
                            <ul>
                                <li>2022 Faaliyet Girişleri açılmıştır. Faaliyet ekleyebilir ve düzenleyebilirsiniz. </li>
                                <li>2022 Faaliyet faliyetleri için Çıktı ve Sonuç işlemlerini yapabilirsiniz.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col">
        <img src="~/images/2953998.jpg" class="img-fluid" width="500" />
    </div>
</div>

<div class="icons">
    <button class="btn btn-info"> <div class="fa fa-repeat fa-2x"></div> <br />STRATEJİK <br /> PLAN</button>
    <button class="btn btn-warning"><div class="fa fa-address-book fa-2x"></div><br /> İL PERFORMANS<br /> PROGRAMI</button>
    <button class="btn btn-danger"><div class="fa fa-address-book fa-2x"></div><br /> İL FAALİYET <br />RAPORU</button>
    <br />
    <button class="btn btn-warning"><div class="fa fa-line-chart fa-2x"></div><br /> PERFORMANS <br />GÖSTERGELERİNİZ</button>
    <button class="btn btn-info"><div class="fa fa-bicycle fa-2x"></div><br /> FAALİYETLERİNİZ <br /><br /></button>
</div>